#price-table {
	display: none;
	text-align: center;
	@include breakpoint(tablet-down) {
		margin: 0 25px;
	}

	.plan {
		margin-left: 6%;
		margin-top: 75px;
		float: left;
	}

	.box {
		padding: 75px 50px;
		float: left;
		margin-top: 300px;

		@include breakpoint(tablet-down){
			margin-top: 50px;
			width:100%;
		}
	}
}

#price-table1 {
	text-align: center;
	margin: 100px 0;

	@include breakpoint(tablet-down) {
		margin: 50px 25px;
	}

	.plan {
		// float: right;
		// margin-right: 10%;
		margin:auto;
	}

	.boxleft{
		float: right;
		padding: 135px 64px;
		margin-top: 250px;

		@include breakpoint(tablet-down){
			margin-top: 50px;
			width:100%;
		}
	}
}

.box, .boxleft {
	z-index: 1;
	text-align: center;
	margin-top:100px;
	position: relative;
	@include breakpoint(tablet-down) {}
	@include breakpoint(handheld) {}

	.learn,
	.learnleft {
		font-size: 24px;
		line-height: 40px;
		color: black;
		@include breakpoint(tablet-down) {
			font-size: 30px;
			line-height: 39px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.plan {
	position: relative;
	font-size: 12px;
	max-width: 500px;
	background: $white;
	color: $dark-gray;
	padding: 20px;
	z-index: 2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

	&:nth-child(1) h3 {
		border-radius: 5px 0 0 0;
	}

	&:nth-child(4) h3 {
		border-radius: 0 5px 0 0;
	}
	@include breakpoint(tablet-down) {
		max-width: none;
		margin: 25px 0 0!important;
		width: 100%;
	}

	.purchaseheader, .purchaseheaderright{
		@include font( 'bold');
		font-size: 25px;
		padding: 40px 20px 20px;
		margin: -20px -20px 50px;
		background-color: $blue-2;
		color: $white;
		margin-top: -30px;
		padding-top: 30px;

		.small {
			@include font( 'light');
			color: $white;
			font-size: 15px;
			font-weight: 100;
			margin-top: 4px;
		}

		.little {
			color: $blue-2;
			margin-top: 10px;
			line-height: 0;
			@include font( 'bold');
			font-size: 22px;
			margin-bottom: 20px;
		}


		.purchaseheaderprice, .purchaseheaderpriceright{
			color: $black;
			background: $white;
			width: 100px;
			height: 100px;
			padding-top: 20px;
			margin: 15px auto -75px 350px;
			border: 5px solid $white;
			border-radius: 100%;
			@include breakpoint(tablet-down) {
				margin: 15px auto -75px 75%;
			}
			@include breakpoint(handheld){
				margin: 15px auto -75px 60%;
			}
		}
	}

	.signup {
		padding: 10px 87px;
		margin: 20px 0 0;
		color: $white;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		background-color: $blue-2;
		border-radius: 3px;
		text-shadow: 0 1px 0 $black_30;

		@include breakpoint(handheld){
			width:100%;
			padding:10px;
		}

		&:hover {
			background-color: lighten($blue-2,10%);
		}
	}

	.purchasep {
		margin-top: 45px;
		margin-bottom: 25px;
		color: #68737a;
		font-size: 15px;
	}

	.testdrive {
		margin-top: 25px;
		font-size: 22px;
		padding: 25px;
	}

	ul {
		max-width: 300px;
		text-align: left;
		list-style: none;
		margin: 0 auto auto 75px;
		font-size: 20px;
		@include breakpoint(tablet-down) {
			max-width: none;
			font-size: 18px;
		}
		@include breakpoint(handheld){
			margin-top:100px;
			margin-left:25px;
		}

		li {
			padding: 10px;
		}

		li:before {
			font-family: 'FontAwesome';
			content: '\f00c';
			margin: 0 11px 0 -33px;
			width: 20px;
			height: 20px;
			color: #99C45A;
		}

		li.not_included:before {
			font-family: 'FontAwesome';
			content: '\f00d';
			margin: 0 11px 0 -33px;
			width: 20px;
			height: 20px;
			color: #FE6C6C;
		}

	}

	h4 {
		margin-bottom: 25px;
		@include breakpoint(tablet-down) {
		}
	}
}

.clear {
	&:before {
		content: "";
		display: table;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
