//
// Modules / Footer
// --------------------------------------------------

.footer {
	background: $white;
	display: inline-block;
	padding-bottom: 15px;
	padding-top: 15px;
	height: 150px;
	width: calc(100% - 300px);
	margin: 0 150px;
	@include breakpoint(tablet-down) {
		width: 100%;
		margin: 0;
	}

	.brands {
		height: 50px;
		float: right;
		@include breakpoint(tablet-down) {
			width: auto;
			float: none;
			margin: 0 auto;
			display: block;
			height: 40px;
			max-width: 100%;
		}
	}

	.fca {
		height: 50px;
		padding-bottom: 10px;
		padding-top: 10px;
		float: left;
		@include breakpoint(tablet-down) {
			width: auto;
			float: none;
			margin: 0 auto;
			display: block;
		}
	}

	.footercopyright {
		font-size: 15px;
		padding: 45px 0;
		color: #ccc;
		text-align: center;
		line-height: 18px;
		@include breakpoint(tablet-down) {
			font-size: 12px;
			padding: 25px 45px;
			line-height: 15px;
			line-height: 15px;
		}
		@include breakpoint(handheld) {
			font-size: 9px;
			padding: 15px 35px;
			line-height: 12px;
		}
	}
}
