.divider {
	width: 100%;
	height: 350px;
	background-size: cover;
	background-image: 100% 100%;
	@include breakpoint(tablet-down) {
		max-height: 200px;
		width: 100%;
	}
	@include breakpoint(handheld) {
		max-height: 150px;
		width: 100%;
	}
}
