.homegrid {
	background-color: #EFEFEF;
	text-align: center;
	padding: 70px 0px;
}

.homecol {
	display: inline-block;
	padding: 20px 30px;
}

.homecontent {
	max-width:400px;
	vertical-align: top;
	color: black;
	margin: auto;
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	@include breakpoint(tablet-down) {
		padding-left: 0;
		padding-right: 0;
	}
	@include breakpoint(handheld) {
		font-size: 13px;
	}

	strong {
		font-size: 20px;
		line-height: 28px;
		font-weight: normal;
		@include font( 'semi-bold');
	}
}
