//
// Meta / Palette
// --------------------------------------------------
$black: #000000;
$blue: #5C85DB;
$blue-2: #0066CC;
$blue-medium: #0260A3;
$blue-dark: #004A80;
$blue-gray: #636A7A;
$blue-gray-2: #68737A;
$gray: #C0BCBD;
$dark-gray: #363636;
$light-gray: #EBEBEB;
$white: #FFFFFF;
$mopar-blue: #0066cc;
$lighter-semi-gray: #737E85;
$semi-gray: #7B868D;
$green: #00e600;
$red: red;
$black_30: rgba(0,0,0,.3);
$lightlight-gray: #f4f4f4;
